<!-- 収入一覧 -->
<div class="cashflow-title">収入</div>
<% if showFilter %>
  <div class="cashflow-filter">
    <table><tr>
        <th>絞り込み</th>
        <td>口座：<%= select :filter_i, :accounts, @accounts %></td>
        <td>費目：<%= select :filter_i, :expItemsI, @expItemsI %></td>
    </tr></table>
  </div>
<% end %>
<table id="income-table" class="cashflow-table">
  <tr>
    <% if showDate %><th>日付</th><% end %><th>口座</th><th>費目</th><th>金額</th><th>内容</th><% if showEdit %><th>&nbsp;</th><% end %><% if showDelete %><th>&nbsp;</th><% end %>
  </tr>
  <% @cashFlowI.each { |cf| %>
  <tr id="<%= cf.id %>">
    <% if showDate %>
      <td>
        <%= link_to cf.date.strftime("%Y/%m/%d"),
            :controller=>"lists", :action=>"dailyList", :year=>cf.date.year, :month=>cf.date.month, :day=>cf.date.day %>
      </td>
    <% end %>
    <td class="lst-account-name"><%= cf.account_id.blank? ? "" : cf.account.name %></td>
    <td class="lst-expense-item-name"><%= cf.expense_item_id.blank? ? "" : cf.expense_item.name %></td>
    <td class="lst-amount"align="right"><%= cf.amount.to_c %></td>
    <td class="lst-memo"><%= cf.memo %></td>
    <% if showEdit %>
      <td><div class="editbutton"><%= link_to "編集", editStart_cash_flow_path(cf.id), :remote=>true %></div></td>
    <% end %>
    <% if showDelete %>
      <td><div class="delbutton"><%= link_to "削除", cash_flow_path(cf.id), method: :delete, :remote=>true %></div></td>
    <% end %>
  </tr>
  <% } %>
</table>

<div class="empty-line"></div>

<!-- 支出一覧 -->
<div class="cashflow-title">支出</div>
<% if showFilter %>
  <div class="cashflow-filter">
    <table><tr>
      <th>絞り込み</th>
      <td>口座：<%= select :filter_o, :accounts, @accounts %></td>
      <td>費目：<%= select :filter_o, :expItemsO, @expItemsO %></td>
      <td>カード払い：<%= select :filter_o, :card, @card %></td>
    </tr></table>
  </div>
<% end %>
<table id="expense-table" class="cashflow-table">
  <tr>
    <% if showDate %><th>日付</th><% end %><th>口座</th><th>費目</th><th>金額</th><th>内容</th><th>カード払い</th><% if showEdit %><th>&nbsp;</th><% end %><% if showDelete %><th>&nbsp;</th><% end %>
  </tr>
  <% @cashFlowO.each { |cf| %>
  <tr id="<%= cf.id %>">
    <% if showDate %>
      <td>
        <%= link_to cf.date.strftime("%Y/%m/%d"),
            :controller=>"lists", :action=>"dailyList", :year=>cf.date.year, :month=>cf.date.month, :day=>cf.date.day %>
      </td>
    <% end %>
    <td class="lst-account-name"><%= cf.account_id.blank? ? "" : cf.account.name %></td>
    <td class="lst-expense-item-name"><%= cf.expense_item_id.blank? ? "" : cf.expense_item.name %></td>
    <td class="lst-amount" align="right"><%= cf.amount.to_c %></td>
    <td class="lst-memo"><%= cf.memo %></td>
    <td class="lst-credit-card" align="center"><%= cf.credit_card ? "○" : "" %></td>
    <% if showEdit %>
      <td><div class="editbutton"><%= link_to "編集", editStart_cash_flow_path(cf.id), :remote=>true %></div></td>
    <% end %>
    <% if showDelete %>
      <td><div class="delbutton"><%= link_to "削除", cash_flow_path(cf.id), method: :delete, :remote=>true %></div></td>
    <% end %>
  </tr>
  <% } %>
</table>

<div class="empty-line"></div>

<!-- 移動一覧 -->
<div class="cashflow-title">移動</div>
<% if showFilter %>
  <div class="cashflow-filter">
    <table><tr>
      <th>絞り込み</th>
      <td>口座：<%= select :filter_m, :accounts, @accounts %></td>
      <td>移動先：<%= select :filter_m, :moveTo, @accounts %></td>
    </tr></table>
  </div>
<% end %>
<table id="move-table" class="cashflow-table">
  <tr>
    <% if showDate %><th>日付</th><% end %><th>口座</th><th>移動先</th><th>金額</th><th>内容</th><% if showEdit %><th>&nbsp;</th><% end %><% if showDelete %><th>&nbsp;</th><% end %>
  </tr>
  <% @cashFlowM.each { |cf| %>
  <tr id="<%= cf.id %>">
    <% if showDate %>
      <td>
        <%= link_to cf.date.strftime("%Y/%m/%d"),
            :controller=>"lists", :action=>"dailyList", :year=>cf.date.year, :month=>cf.date.month, :day=>cf.date.day %>
      </td>
    <% end %>
    <td class="lst-account-name"><%= cf.account_id.blank? ? "" : cf.account.name %></td>
    <td class="lst-move-to-name"><%= cf.move_to.blank? ? "" : cf.move_to_account.name %></td>
    <td class="lst-amount" align="right"><%= cf.amount.to_c %></td>
    <td class="lst-memo"><%= cf.memo %></td>
    <% if showEdit %>
      <td><div class="editbutton"><%= link_to "編集", editStart_cash_flow_path(cf.id), :remote=>true %></div></td>
    <% end %>
    <% if showDelete %>
      <td><div class="delbutton"><%= link_to "削除", cash_flow_path(cf.id), method: :delete, :remote=>true %></div></td>
    <% end %>
  </tr>
  <% } %>
</table>

<script type="text/javascript">
/**
 * 一覧に追加
 */
function addList(params) {
  var flowType = params.flow_type;
  if (flowType == "i") {
    $("#income-table").append(
        "<tr id='" + params.id + "'>" +
        "  <td class='lst-account-name'>" + params.account_name + "</td>" +
        "  <td class='lst-expense-item-name'>" + params.expense_item_name + "</td>" +
        "  <td class='lst-amount' align='right'>" + params.amount + "</td>" +
        "  <td class='lst-memo'>" + params.memo + "</td>" +
        "  <td><div class='editbutton'>" +
        "    <a data-method='get' data-remote='true' href='/cash_flows/" + params.id + "/editStart' rel='nofollow'>編集</a>" +
        "  </div></td>" +
        "  <td><div class='delbutton'>" +
        "    <a data-method='delete' data-remote='true' href='/cash_flows/" + params.id + "' rel='nofollow'>削除</a>" +
        "  </div></td>" +
        "</tr>");

  } else if (flowType == "o") { 
    $("#expense-table").append(
        "<tr id='" + params.id + "'>" +
        "  <td class='lst-account-name'>" + params.account_name + "</td>" +
        "  <td class='lst-expense-item-name'>" + params.expense_item_name + "</td>" +
        "  <td class='lst-amount' align='right'>" + params.amount + "</td>" +
        "  <td class='lst-memo'>" + params.memo + "</td>" +
        "  <td class='lst-credit-card' align='center'>" + params.credit_card + "</td>" +
        "  <td><div class='editbutton'>" +
        "    <a data-method='get' data-remote='true' href='/cash_flows/" + params.id + "/editStart' rel='nofollow'>編集</a>" +
        "  </div></td>" +
        "  <td><div class='delbutton'>" +
        "    <a data-method='delete' data-remote='true' href='/cash_flows/" + params.id + "' rel='nofollow'>削除</a>" +
        "  </div></td>" +
        "</tr>");
    
  } else if (flowType == "m") { 
    $("#move-table").append(
        "<tr id='" + params.id + "'>" +
        "  <td class='lst-account-name'>" + params.account_name + "</td>" +
        "  <td class='lst-move-to-name'>" + params.move_to_name + "</td>" +
        "  <td class='lst-amount' align='right'>" + params.amount + "</td>" +
        "  <td class='lst-memo'>" + params.memo + "</td>" +
        "  <td><div class='editbutton'>" +
        "    <a data-method='get' data-remote='true' href='/cash_flows/" + params.id + "/editStart' rel='nofollow'>編集</a>" +
        "  </div></td>" +
        "  <td><div class='delbutton'>" +
        "    <a data-method='delete' data-remote='true' href='/cash_flows/" + params.id + "' rel='nofollow'>削除</a>" +
        "  </div></td>" +
        "</tr>");
  }
}

/**
 * 一覧を更新
 */
function updateList(params) {
  var flowType = params.flow_type;
  if ("iom".indexOf(flowType) > -1) { $("tr#" + params.id + " td.lst-account-name").text(params.account_name); }
  if ("  m".indexOf(flowType) > -1) { $("tr#" + params.id + " td.lst-move-to-name").text(params.move_to_name); }
  if ("io ".indexOf(flowType) > -1) { $("tr#" + params.id + " td.lst-expense-item-name").text(params.expense_item_name); }
  if ("iom".indexOf(flowType) > -1) { $("tr#" + params.id + " td.lst-amount").text(params.amount); }
  if ("iom".indexOf(flowType) > -1) { $("tr#" + params.id + " td.lst-memo").text(params.memo); }
  if (" o ".indexOf(flowType) > -1) { $("tr#" + params.id + " td.lst-credit-card").text(params.credit_card); }
}

/**
 * 一覧から削除
 */
function deleteList(id) {
  $("tr#" + id).remove();
}

/**
 * 絞り込み
 */
// 収入
// （口座）
$("#filter_i_accounts").change(function(){ filterIncomeTable(); });
// （費目）
$("#filter_i_expItemsI").change(function(){ filterIncomeTable(); });

function filterIncomeTable() {
  filterList({
    listId:"#income-table",
    values:[
      [".lst-account-name",      $("#filter_i_accounts").children(":selected").text()],
      [".lst-expense-item-name", $("#filter_i_expItemsI").children(":selected").text()]
    ]
  });
}

// 支出
// （口座）
$("#filter_o_accounts").change(function(){ filterExpenseTable(); });
// （費目）
$("#filter_o_expItemsO").change(function(){ filterExpenseTable(); });
// （カード払い）
$("#filter_o_card").change(function(){ filterExpenseTable(); });

function filterExpenseTable() {
  filterList({
    listId:"#expense-table",
    values:[
      [".lst-account-name",      $("#filter_o_accounts").children(":selected").text()],
      [".lst-expense-item-name", $("#filter_o_expItemsO").children(":selected").text()],
      [".lst-credit-card",       $("#filter_o_card").children(":selected").text()]
    ]
  });
}

// 移動
// （口座）
$("#filter_m_accounts").change(function(){ filterMoveTable(); });
// （移動先）
$("#filter_m_moveTo").change(function(){ filterMoveTable(); });

function filterMoveTable() {
  filterList({
    listId:"#move-table",
    values:[
      [".lst-account-name", $("#filter_m_accounts").children(":selected").text()],
      [".lst-move-to-name", $("#filter_m_moveTo").children(":selected").text()]
    ]
  });
}

// フィルタリング処理
function filterList(params) {
  console.log(params);
  // 一旦フィルタクリア
  $(params.listId + " tr").show();

  // フィルタ
  $(params.listId + " tr").each(function() {
    if ($(this).children("th").length > 0) {
      return true;  // continue
    }

    var hide = false;

    for (var i = 0; i < params.values.length; i++) {
      var text = $(this).children("td" + params.values[i][0]).text();
      var val = params.values[i][1];
      if (val != "" && text != val) {
        hide = true;
        break;
      }
    }

    if (hide) {
      $(this).hide();
    }
  });
}
</script>
