<div id="wrapper">
  <span>口座別収支</span>
  <table border="1">
    <tr>
      <th>口座</th>
      <th>収入</th>
      <th>支出</th>
      <th>合計</th>
    </tr>
    <% @accountInfo.each { |key, info| %>
      <tr>
        <td><%= info["name"] %></td>
        <td><%= info["incomeSum"] %></td>
        <td><%= info["outgoSum"] %></td>
        <td><%= info["total"] %></td>
      </tr>
      <tr>
        <% @cashFlowSum.where(account_id: key, flow_type: 'o').each { |cf| %>
          <% if @outgoInfo.has_key?(cf.expense_item_id) then %>
          <td><%= @outgoInfo[cf.expense_item_id]["name"] %></td>
          <% end %>
          <td><%= cf.sum_amount %></td>
        <% } %>
      </tr>

    <% } %>
    <tr>
      <td>合計</td>
      <td><%= @accountTotalI %></td>
      <td><%= @accountTotalO %></td>
      <td><%= @accountTotal %></td>
    </tr>
  </table>

  <span>収入の部明細</span>
  <table border="1">
    <tr>
      <th>費目</th>
      <th>金額</th>
      <th>口座別内訳</th>
    </tr>
    <% @incomeInfo.each { |key, info| %>
      <tr>
        <td><%= info["name"] %></td>
        <td><%= info["incomeSum"] %></td>
      </tr>

      <tr>
        <% @cashFlowSum.where(expense_item_id: key, flow_type: 'i').each { |cf| %>
          <% if @accountInfo.has_key?(cf.account_id) then %>
          <td><%= @accountInfo[cf.account_id]["name"] %></td>
          <% end %>
          <td><%= cf.sum_amount %></td>
        <% } %>
      </tr>
    <% } %>
    <tr>
      <td>合計</td>
      <td><%= @incomeTotal %></td>
    </tr>
  </table>

  <span>支出の部明細</span>
  <table border="1">
    <tr>
      <th>費目</th>
      <th>金額</th>
      <th>口座別内訳</th>
    </tr>
    <% @outgoInfo.each { |key, info| %>
      <tr>
        <td><%= info["name"] %></td>
        <td><%= info["outgoSum"] %></td>
      </tr>
      <tr>
        <% @cashFlowSum.where(expense_item_id: key, flow_type: 'o').each { |cf| %>
          <% if @accountInfo.has_key?(cf.account_id) then %>
          <td><%= @accountInfo[cf.account_id]["name"] %></td>
          <% end %>
          <td><%= cf.sum_amount %></td>
        <% } %>
      </tr>
    <% } %>
    <tr>
      <td>合計</td>
      <td><%= @outgoTotal %></td>
    </tr>
  </table>

  <span>電気料金詳細</span>
</div>
